body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom,#ffd700,#ff8c00 ,#ff4500,#ff6347,#ff7f50);
}

header {
    background-color: #f0f0f0;
    height: 60px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

label{
    font-size: larger;
}
